/* line 1, ../sass/page.scss */
.header_nav {
  background-image: url("/image/meeting.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* line 10, ../sass/page.scss */
.header_nav::after {
  content: " ";
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 5;
}
/* line 19, ../sass/page.scss */
.header_nav div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0;
  height: 70px;
  align-self: start;
  position: relative;
  color: white;
  z-index: 6;
}

/* line 35, ../sass/page.scss */
.header_left ul {
  display: flex;
  list-style: none;
  font-size: 12px;
  font-weight: bold;
}
/* line 40, ../sass/page.scss */
.header_left ul li {
  margin: 0 5px;
}

/* line 47, ../sass/page.scss */
.header_mid {
  display: flex;
  flex-grow: 1;
}

/* line 53, ../sass/page.scss */
.header_right button {
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 8px 15px;
  font-size: 12px;
  transition: all 0.3s ease;
  outline: none;
}
/* line 62, ../sass/page.scss */
.header_right button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

/*This is header_content*/
/* line 75, ../sass/page.scss */
.header_content {
  min-height: calc(100% - 70px) !important;
  width: 100%;
}
/* line 78, ../sass/page.scss */
.header_content .header_content_main {
  display: flex;
  flex-direction: column;
  align-self: center;
}
/* line 83, ../sass/page.scss */
.header_content .header_content_main button {
  border-radius: 30px;
  outline: none;
  background: lightgreen;
  color: white;
  padding: 10px;
  font-size: 20px;
}

/* This is Main part */
/* line 96, ../sass/page.scss */
.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: whitesmoke;
}
/* line 103, ../sass/page.scss */
.main_content .main_section_1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
/* line 110, ../sass/page.scss */
.main_content .main_section_1 button {
  border-radius: 30px;
  outline: none;
  background: lightgreen;
  color: white;
  padding: 10px;
  font-size: 20px;
}
/* line 119, ../sass/page.scss */
.main_content .main_section_1 .main_section_1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}
/* line 126, ../sass/page.scss */
.main_content .main_section_1 .main_section_1 p:first-child {
  color: green;
  font-weight: bold;
}

/* line 137, ../sass/page.scss */
.main_middle {
  display: flex;
  text-align: center;
}

/* line 142, ../sass/page.scss */
.main_section_2 {
  position: relative;
  width: 600px;
  background: white;
  padding: 60px;
  margin-top: 80px;
  margin-bottom: 40px;
}
/* line 149, ../sass/page.scss */
.main_section_2 img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 250px;
  top: -40px;
}

/*-----------------------------------------------------------Article--------------------------------------------------------------*/
/* line 166, ../sass/page.scss */
.article_container {
  background: green;
}
/* line 170, ../sass/page.scss */
.article_container .article_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-align: center;
}
/* line 178, ../sass/page.scss */
.article_container .article_section .article_text {
  margin-top: 30px;
}
/* line 187, ../sass/page.scss */
.article_container .article_boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 192, ../sass/page.scss */
.article_container .article_boxes .box {
  height: 300px;
  width: 300px;
  margin: 10px;
  background: white;
  color: black;
  position: relative;
}
/* line 200, ../sass/page.scss */
.article_container .article_boxes .box img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  left: 60px;
  top: -30px;
  border: 1px solid black;
  position: absolute;
  background: white;
}
/* line 210, ../sass/page.scss */
.article_container .article_boxes .box .box_text {
  padding: 50px;
}

/* line 221, ../sass/page.scss */
.article_boxes_1 {
  display: flex;
  margin-top: 15px;
}

/* line 226, ../sass/page.scss */
.article_boxes_2 {
  display: flex;
  margin-top: 20px;
}

/*-----------------------------FOOTER----------------------------------------------------------------------------------------------*/
/* line 233, ../sass/page.scss */
.footer_container {
  height: 600px;
  background: url("/image/pic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}
/* line 243, ../sass/page.scss */
.footer_container::after {
  content: " ";
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  z-index: 2;
}
/* line 254, ../sass/page.scss */
.footer_container .footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
  z-index: 6;
}
/* line 262, ../sass/page.scss */
.footer_container .footer_content .footer_input {
  display: flex;
  flex-direction: column;
  width: 400px;
}
/* line 267, ../sass/page.scss */
.footer_container .footer_content .footer_input .footer_element {
  margin: 10px 0 10px 0;
}
